<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/blog.css">
    
    <!-- Blog Schema -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Blog",
        "name": "Citizenry Blog",
        "description": "Expert tips and guides for passing your US citizenship test",
        "url": "https://citizenryapp.com/blog.html",
        "publisher": {
            "@type": "Organization",
            "name": "Citizenry",
            "logo": "https://citizenryapp.com/assets/images/citizenry-logotype.png"
        }
    }
    </script>
</head>
<body>
    {% include header.html %}

    <!-- Main Content -->
    <main id="main-content">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="/js/main.js"></script>
</body>
</html>
